html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

#wrapper {
	max-width: 350px;
	margin: 0 auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 15px 0;
}

th, td {
	padding: 3px 5px;
	border: 1px solid #ccc;
}

tr:hover td {
	background-color: #efefef;
}

input, button {
	border: 1p solid #ccc;
}